<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.abdesol.calculator" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="25" android:targetSdkVersion="30" />
	<application android:label="Calculator" android:theme="@style/MainTheme" android:icon="@mipmap/calc_icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>